{% extends "inicio/base.html" %}

{% block title %}Contacto{% endblock %}

{% block titleH1 %}Contacto{% endblock %}

{% block content %}
<h2>Contacto</h2>
<p>Puedes enviarnos un correo a <strong>contacto@midominio.com</strong>.</p>
<form action="" method="post">
    {% csrf_token %}

    {{ form.as_div }}

    {% comment %} 
    
    <label>Nombre:</label>
    {{ form.nombre }}

    <label>Email:</label>
    {{ form.email }}

    <label>Mensaje:</label>
    {{ form.mensaje }}

    <button type="submit">Enviar</button> 
    
    {% endcomment %}

    <button type="submit"> Enviar Contacto</button>

</form>
{% endblock %}
