{% extends "inicio/base.html" %}

{% block title %}Contacto{% endblock %}

{% block titleH1 %}Contacto{% endblock %}

{% block content %}
<h2>Contacto</h2>
<p>Puedes enviarnos un correo a <strong>contacto@midominio.com</strong>.</p>
<form action="" method="post">
    {% csrf_token %}
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="nombre"><br><br>

    <label for="mensaje">Mensaje:</label><br>
    <textarea id="mensaje" name="mensaje"></textarea><br><br>

    <input type="submit" value="Enviar">
</form>
{% endblock %}
